<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Overview <small>Statistics Overview</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  You can disable this alerts in <a href="/settings">settings section</a>
                </div>
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  Here you can get general information about your projects, integration status, and partner's efficiency rate
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" ng-controller="ProjectsController" ng-init="getProjects()">{{projects.length}}</div>
                                <div>Projects!</div>
                            </div>
                        </div>
                    </div>
                    <a href="projects">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-check fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" ng-controller="ProductsController" ng-init="getProductsByStatus('2')">{{productsByStatus.length}}</div>
                                <div>Finished Products!</div>
                            </div>
                        </div>
                    </div>
                    <a href="products/finished">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-circle-o-notch fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" ng-controller="ProductsController" ng-init="getProductsByStatus('1')">{{productsByStatus.length}}</div>
                                <div>Started Products!</div>
                            </div>
                        </div>
                    </div>
                    <a href="products/started">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-exclamation fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" ng-controller="ProductsController" ng-init="getProductsByStatus('0')">{{productsByStatus.length}}</div>
                                <div>Not Started Products!</div>
                            </div>
                        </div>
                    </div>
                    <a href="products/notstarted">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-info alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <i class="fa fa-info-circle"></i>  GaugeChart shows the current integration status of all projects, Partner's Efficiency shows the integration status of products for each partner
                </div>
            </div>
        </div>

        <div class="row" ng-init="showGaugeChart()">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Gauge Chart</h3>
                    </div>
                    <div class="panel-body">
                        <div google-chart chart="gaugeChartObject"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" ng-init="showPartnersEfficiencyChart()">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Partners' Efficiency</h3>
                    </div>
                    <div class="panel-body">
                        <div google-chart chart="partnersEfficiencyChart"></div>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container-fluid -->

</div>
        <!-- /#page-wrapper -->
