<div id="page-wrapper">

    <div class="container-fluid" ng-init="getProduct()">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Product <small>View</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-book"></i> <a ng-href="/project/view/{{product.projectId}}">{{product.projectName}} </a>/ <a ng-href="/family/view/{{product.familyId}}">{{product.familyName}} </a>/ <a ng-href="/subfamily/view/{{product.subfamilyId}}">{{product.subfamilyName}}
                    </a>/ {{product.name}}   
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">

                                     

                <table class="table">
                    <thead>
                        <tr>
                            <td>Name</td>
                            <td>{{product.name}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Description</td>
                            <td>{{product.description}}</td>
                        </tr>
                        <tr>
                            <td>Product Owner</td>
                            <td>{{product.partner}}</td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>{{product.startDate.date}}</td>
                        </tr>
                        <tr>
                            <td>End Date</td>
                            <td>{{product.endDate.date}}</td>
                        </tr>
                        <tr>
                            <td>Creation Date</td>
                            <td>{{product.creationDate.date}}</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                <p ng-if="product.status == 0">Not started</p>
                                <p ng-if="product.status == 1">In progress</p>
                                <p ng-if="product.status == 2">Integrated</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a ng-href="/product/edit/{{product.subfamilyId}}/{{product.id}}" class="btn btn-default btn-primary margin-right-10">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
                </div>
            </div><!--/.row-->

    </div>
    <!-- /.container-fluid -->

</div>
        <!-- /#page-wrapper -->