<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Partner <small>View</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-user"></i> {{partner.name}}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
             <div class="col-lg-12">
    

                <a ng-href="/partner/edit/{{partner.id}}" class="btn btn-default btn-primary margin-right-10">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>{{partner.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Description</td>
                            <td>{{partner.description}}</td>
                        </tr>
                        <tr>
                            <td>Country</td>
                            <td>
                                <img src="blank.gif" class="flag flag-{{partner.countryCode}}" alt="{{partner.countryName}}" />   
                            </td>
                        </tr>
                        <tr>
                            <td>Creation Date</td>
                            <td>{{partner.creationDate.date}}</td>
                        </tr>
                    </tbody>
                </table>

                <div class="thumbnail" ng-if="partner.image != null">
                    <img ng-src="images/partners/{{partner.image}}" />
                </div>

            </div>
            </div><!--/.row-->

    </div>
    <!-- /.container-fluid -->

</div>
        <!-- /#page-wrapper -->