
<section id="charts">
  <div class="container contentContainer">
    <div class="box first">
      <div class="row">
        <div google-chart chart="chart" style="border:1px inset black;padding:0;width:402px"></div>
          <p>Software: <input type=range min=10000 max=100000 value={{aa}} ng-model="aa" ng-change="chart.data[1][1]=1*aa"> {{aa}}</p>
					<p>Hardware: <input type=range min=10000 max=100000 value={{bb}} ng-model="bb" ng-change="chart.data[2][1]=1*bb">{{bb}}</p>
					<p>Services: <input type=range min=10000 max=100000 value={{cc}} ng-model="cc" ng-change="chart.data[3][1]=1*cc">{{cc}}</p>
          </br></br></br>
          <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['timeline']}]}"></script>

          <div google-chart chart="timelineChart" style="width: 1000px; height: 200px;"></div>

				  </div><!--/.row-->

          </div><!--/.box-->
        </div><!--/.container-->
    </section><!--/#services-->
    <p ng-controller="ChartsController" ng-click="getCharts(example)" ng-model="example.exampleId">Click</p>
